.navSection{
    nav{
        width: 100%;
        padding: 40px 0;
        text-transform: uppercase;
        position: fixed;
        z-index: 999;
        a{
            color: #fff;
        }
        .customBrand{
            padding: 2px 25px;
            border: 2px solid #fff;
            font-size: 1.4rem;
            letter-spacing: 1px;
        }
        ul{
            display: flex;
            li{
                margin-left: 20px;
            }
        }
    }

}
.nav-button{
    width: 30px;
    height: 35px;
    border: none;
    background: none;
    display: none;
    .list{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            width: 80%;
            height: 2px;
            background-color: #fff;
            margin-bottom: 7px;
        }
        .lastDiv{
            margin-bottom: 0;
        }
    }
}

.navScroll{
    background-color: #fff;
    padding: 0;
    animation: smoothScroll 1s forwards;
    .customBrand{
        color: #000;
        border: none;
    }
    li a{
        color: #000;
        transition: all 300ms ease;
    }
    li a:hover{
        color: #ff9725;
    }
}

@keyframes smoothScroll{
    0%{
        -webkit-transform: translatey(-10px);
        transform: translatey(-10px);
    }
    100%{
        -webkit-transform: translatey(0px);
        transform: translatey(0px);
    }
}



// rseponsive in max width 900


@media only screen and (max-width:768px){
    .navSection{
        nav{
            padding: 10px;
            background-color: #fff;
            border-bottom: 1px solid #8b8e94;
            a{
                color: #000;
            }
            .customBrand{
                border: 1px solid #000;
            }
            ul{
                position: absolute;
                top: 50px;
                left: 0;
                display: none;
                width: 100%;
                background-color: #fff;
                li{
                    margin-bottom: 15px;
                    transition: all 300ms ease;
                    a{
                        color: rgba(0,0,0,.7);
                    }
                }
                li:hover{
                    a{
                        color: #ff9725;
                    }
                }
            }
        }

        .nav-button{
            display: block;
            .list{
                div{
                    background-color: #000;
                }
            }
        }
    }
}