* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.attachment {
  width: 100%;
  height: 580px;
  background-image: url(../img/jpg/hero_bg_1.jpg);
  background-attachment: fixed;
}

.second {
  background-image: url(../img/jpg/hero_bg_4.jpg);
}

.third {
  background-image: url(../img/jpg/hero_bg_5.jpg);
}

.a-styling {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.hover-anchor {
  position: relative;
  padding-bottom: 5px;
  margin-top: 30px;
}

.hover-anchor:after {
  content: "";
  height: 2px;
  width: 100%;
  display: block;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hover-anchor:before {
  content: "";
  height: 2px;
  width: 0%;
  display: block;
  background-color: #FFA33E;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 400ms ease;
}

.hover-anchor:hover:before {
  z-index: 2;
  width: 100%;
}

.navSection nav {
  width: 100%;
  padding: 40px 0;
  text-transform: uppercase;
  position: fixed;
  z-index: 999;
}
.navSection nav a {
  color: #fff;
}
.navSection nav .customBrand {
  padding: 2px 25px;
  border: 2px solid #fff;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.navSection nav ul {
  display: flex;
}
.navSection nav ul li {
  margin-left: 20px;
}
.navSection .navScroll {
  background-color: #fff;
  padding: 20px;
  -webkit-animation: smoothScroll 1s forwards;
          animation: smoothScroll 1s forwards;
  transition: all 300ms ease;
}
.navSection .navScroll .customBrand {
  color: #000;
  border-color: #000;
}
.navSection .navScroll li a {
  color: #000;
  transition: all 300ms ease;
}
.navSection .navScroll li a:hover {
  color: #ff9725;
}

.nav-button {
  width: 30px;
  height: 35px;
  border: none;
  background: none;
  display: none;
}
.nav-button .list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-button .list div {
  width: 80%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 7px;
}
.nav-button .list .lastDiv {
  margin-bottom: 0;
}

@-webkit-keyframes smoothScroll {
  0% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes smoothScroll {
  0% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@media only screen and (max-width: 768px) {
  .navSection nav {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #8b8e94;
  }
  .navSection nav a {
    color: #000;
  }
  .navSection nav .customBrand {
    border: 1px solid #000;
  }
  .navSection nav ul {
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    width: 100%;
    background-color: #fff;
  }
  .navSection nav ul li {
    margin-bottom: 15px;
    transition: all 300ms ease;
  }
  .navSection nav ul li a {
    color: rgba(0, 0, 0, 0.7);
  }
  .navSection nav ul li:hover a {
    color: #ff9725;
  }
  .navSection .nav-button {
    display: block;
  }
  .navSection .nav-button .list div {
    background-color: #000;
  }
}
.threeBanners {
  min-height: 750px;
  width: 100%;
  background-image: url(../img/jpg/hero_bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dine {
  background-image: url(../img/jpg/hero_bg_2.jpg);
}

.enjoy {
  background-image: url(../img/jpg/hero_bg_3.jpg);
}

.restoHeading {
  padding-top: 200px;
}
.restoHeading h1 {
  font-family: "Pinyon Script", cursive;
  color: #FFA33E;
  font-size: 5.5rem;
  position: relative;
  top: 60px;
  z-index: 10;
}
.restoHeading h2 {
  font-size: 3.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  z-index: 100;
}
.restoHeading p {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 1.3rem;
}
.restoHeading p a {
  color: #fff;
  text-decoration: none;
}

.bannerSection {
  position: relative;
}

.left-arrows {
  position: absolute;
  top: 50%;
  z-index: 99;
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.5607843137);
  transform: translatey(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efefee;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 400ms ease;
}

.right-arrows {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.5607843137);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efefee;
  font-size: 1.5rem;
  opacity: 0;
  transition: all 400ms ease;
}

.bannerSection:hover .right-arrows {
  opacity: 100%;
}
.bannerSection:hover .left-arrows {
  opacity: 100%;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  list-style-type: none;
}
.slick-dots button {
  margin-right: 15px;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 0;
  transition: all 400ms ease;
}
.slick-dots button:hover {
  background-color: #fff;
}

@media only screen and (max-width: 900px) {
  .threeBanners {
    background-position-x: -100px;
  }
  .restoHeading {
    padding-top: 220px;
  }
}
@media only screen and (max-width: 480px) {
  .threeBanners {
    min-height: 400px;
  }
  .restoHeading {
    padding-top: 80px;
  }
  .restoHeading h1 {
    font-size: 5rem;
    top: 45px;
  }
  .restoHeading h2 {
    font-size: 2.9rem;
  }
  .restoHeading p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 360px) {
  .restoHeading {
    padding-top: 80px;
  }
  .restoHeading h1 {
    font-size: 4rem;
    top: 45px;
  }
  .restoHeading h2 {
    font-size: 2.5rem;
  }
  .restoHeading p {
    font-size: 1.5rem;
  }
  .speacialimage img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .speacial-div {
    margin-bottom: 30px;
  }
}
.discoverSection {
  padding: 80px 0;
}

.discoverDetails {
  padding: 20px;
}
.discoverDetails h2 {
  font-family: "Pinyon Script", cursive;
  font-size: 5rem;
  color: #FFA33E;
  margin-bottom: 0;
}
.discoverDetails h3 {
  text-transform: uppercase;
  font-size: 3.2rem;
  position: relative;
  top: -45px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 0;
}
.discoverDetails span {
  color: #ccc;
}
.discoverDetails P {
  color: #8b8e94;
  font-weight: 500;
  line-height: 1.7rem;
  margin: 10px 0 20px;
}
.discoverDetails a {
  text-decoration: none;
  color: #000;
}

.discoverImage img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .discoverDetails {
    margin-bottom: 10px;
  }
}
.our-specialties {
  background-color: #E4E4E4;
}

.speacialimage {
  padding: 0;
}
.speacialimage img {
  width: 100%;
  display: block;
}

.speacialdetails {
  padding: 30px;
  background-color: #fff;
}
.speacialdetails h2 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
.speacialdetails p {
  padding: 10px 20px 20px;
  color: #8b8e94;
}
.speacialdetails span {
  color: #FFA33E;
  font-size: 1.2rem;
  font-weight: 500;
}

@media only screen and (max-width: 991px) {
  .order-div {
    order: 1;
  }
}
@media only screen and (max-width: 767px) {
  .speacialimage img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .speacial-div {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .speacialimage img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.price-menu {
  padding: 120px 0;
}

.price-image {
  padding-right: 0;
}
.price-image img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

.price-details {
  padding-top: 20px;
}
.price-details h2 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}
.price-details h2 span {
  color: #FFA33E;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0;
}
.price-details p {
  color: #8b8e94;
}

.pricing-marrgin {
  margin-bottom: 30px;
}

@media only screen and (max-width: 900px) {
  .pricing-bottom {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .price-details h2 span {
    top: -25px;
    left: 0;
  }
}
.form-section {
  padding: 100px 0;
}

label {
  color: #8b8e94;
  font-weight: 500;
}

select {
  width: 100%;
  padding: 10px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-appearance: none;
  outline: none;
  transition: all 100s ease;
}

.form-margin {
  margin-bottom: 15px;
}

.inputStyling {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

::-moz-placeholder {
  color: #8b8e94;
  font-weight: 500;
}

:-ms-input-placeholder {
  color: #8b8e94;
  font-weight: 500;
}

::placeholder {
  color: #8b8e94;
  font-weight: 500;
}

.submit {
  margin-top: 20px;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 10px 150px;
  background-color: #FFA33E;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 25px;
  margin-top: 15px;
}

@media only screen and (max-width: 900px) {
  .submit {
    width: 96%;
  }
}
.food-intro {
  padding: 100px 0;
  background-color: #E4E4E4;
}

.food-image img {
  width: 100%;
  display: block;
}

.main-food {
  background-color: #fff;
}

.food-text {
  padding: 15px 15px 30px;
}
.food-text h3 {
  color: #999;
  font-size: 0.8rem;
  margin-top: 10px;
  letter-spacing: 3px;
}
.food-text h2 {
  margin-bottom: 10px;
}
.food-text h2 a {
  font-size: 1.3rem;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}
.food-text p {
  color: #8b8e94;
  margin-bottom: 25px;
}
.food-text a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

.contact-section {
  padding: 100px 0;
}
.contact-section .discoverDetails {
  padding: 20px 0;
}
.contact-section .discoverDetails p {
  margin: 0;
}

.contact-details {
  margin-bottom: 15px;
}

.area {
  height: 250px;
}

.contact-submit {
  padding: 10px 20px;
  margin-top: 0;
}

@media only screen and (max-width: 900px) {
  .contact-submit {
    width: 30%;
  }
}
@media only screen and (max-width: 575px) {
  .main-food {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .contact-submit {
    width: 40%;
  }
}
@media only screen and (max-width: 360px) {
  .contact-submit {
    width: 50%;
  }
  .contact-section .discoverDetails p {
    padding: 0 20px;
  }
}
.last-section {
  padding: 100px 0;
  background-color: #000;
  color: rgba(255, 255, 255, 0.7019607843);
}
.last-section p {
  margin: 0;
  font-size: 1rem;
}
.last-section h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 3px;
}

.last-margin {
  padding-top: 30px;
}

@media only screen and (max-width: 991px) {
  .last-margin {
    padding-top: 20px;
  }
  .location {
    padding-top: 2px;
  }
  .location-main {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .last-section {
    padding: 50px 0;
  }
}
.footer-section {
  padding: 20px;
  background-color: #262626;
}
.footer-section p {
  color: #8b8e94;
  margin: 0;
  font-weight: 300;
  font-size: 0.9rem;
}
.footer-section p a {
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  transition: all 300ms ease;
}
.footer-section p a:hover {
  color: #fff;
}
.footer-section .icons a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.2);
  margin-right: 15px;
  transition: all 300ms ease;
}
.footer-section .icons a:hover {
  color: #fff;
}

@media only screen and (max-width: 575px) {
  .footer-section p {
    margin-bottom: 10px;
  }
}
.attachment-section {
  position: relative;
}
.attachment-section .discover-heading {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
}
.attachment-section .discover-heading h2 {
  font-family: "Pinyon Script", cursive;
  color: #FFA33E;
  font-size: 5.5rem;
}
.attachment-section .discover-heading h3 {
  font-size: 3.3rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  position: relative;
  top: -55px;
}

@media only screen and (max-width: 991px) {
  .attachment {
    height: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .attachment {
    background-position-x: -160px;
  }
}
@media only screen and (max-width: 480px) {
  .attachment {
    height: 200px;
  }
  .attachment-section .discover-heading {
    position: relative;
    top: 30px;
  }
  .attachment-section .discover-heading h3 {
    line-height: 45px;
    font-size: 2.6rem;
  }
}/*# sourceMappingURL=main.css.map */